[submodule "lib/libdevuansdk"]
	path = lib/libdevuansdk
	url = https://git.devuan.org/devuan-sdk/libdevuansdk.git
[submodule "lib/zuper"]
	path = lib/zuper
	url = https://github.com/dyne/zuper.git
[submodule "extra/u-boot"]
	path = extra/u-boot
	url = git://git.denx.de/u-boot.git
[submodule "extra/u-boot-hardkernel"]
	path = extra/u-boot-hardkernel
	url = https://github.com/hardkernel/u-boot.git
