[submodule "lib/libdevuansdk"]
	path = lib/libdevuansdk
	url = git://git.parazyd.cf/libdevuansdk.git
[submodule "lib/zuper"]
	path = lib/zuper
	url = https://github.com/dyne/zuper.git
[submodule "lib/libalpine"]
	path = lib/libalpine
	url = https://github.com/parazyd/libalpine
[submodule "extra/u-boot"]
	path = extra/u-boot
	url = git://git.denx.de/u-boot.git
[submodule "extra/u-boot-hardkernel"]
	path = extra/u-boot-hardkernel
	url = https://github.com/hardkernel/u-boot.git
